.btn {
	@extend %reset-button;
	align-self: flex-end;

	width: 14rem;
	height: 5rem;
	padding: 1rem;
	padding-left: 2rem;

	display: flex;
	align-items: center;
	justify-content: inherit;

	background-color: $color-white;
	color: lighten($color-black-light, 40%);
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: $font-700;
	letter-spacing: 5px;
	border-radius: 17%/50%; // make capsule shaped button
	cursor: pointer;

	& div {
		background-color: $color-black-light;
		display: flex;

		border-radius: 50%;
		transition: background-color 250ms linear;

		& svg {
			width: 3.5rem;
			height: 3.5rem;
			transition: transform 750ms ease-out;
		}
	}

	&:hover {
		& div {
			background-color: lighten($color-black-light, 40%);
		}
	}

	@media only screen and (max-width: $bp-medium) {
		align-self: flex-start;
		margin-top: 8rem;
	}
}

.disappear {
	visibility: hidden;
}

.active {
	transform: translateY(-150%);

	@media only screen and (max-width: $bp-medium) {
		transform: translateY(-100%);
	}

	@media only screen and (max-width: $bp-small) {
		transform: translateY(-110%);
	}
}

.rotate {
	fill: $color-white;
	animation: rotate 0.5s infinite linear;
}

.night {
	background-color: transparentize($color-black-pitch, 0.4);

	& > div > h3,
	& > div > p {
		color: $color-white;
	}

	& > .more__bar {
		background-color: lighten($color-black-pitch, 30%);
	}
}

.error {
	width: 100%;

	& > p {
		font-family: $font-primary;
		font-weight: $font-700;
		color: $color-white;
		font-size: 2.5rem;
	}
}
